<%# views/files.ejs (部分替換用於測試，已移除內聯樣式) %>

<div class="file-browser-controls">
    <div class="actions-group-left">
        <%# 假設這些按鈕是可見的 %>
        <button type="button" id="show-create-textfile-modal-btn">新建文本文件</button>
        <button type="button" id="show-create-folder-modal-btn">創建文件夾</button>
        <button type="button" id="toggleUploadActionsBtn" class="upload-button-main">上傳</button>
        <button type="button" id="toggle-multi-select-btn">啟用多選</button>
    </div>

    <form action="/files" method="GET" class="search-form-right control-form"> <%# 注意這裡同時有 search-form-right 和 control-form %>
        <input type="search" name="q" placeholder="搜索..." value="<%= locals.searchQuery || '' %>">
        <button type="submit">搜索</button>
    </form>

    <div class="view-toggle">
        <button id="listViewBtn">列表</button>
        <button id="gridViewBtn" class="active">網格</button> <%# 假設網格是激活狀態用於測試 %>
    </div>
</div>
